<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - M2L</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/AHM2L/css/w3.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Oswald"
        }
        
        body {
            font-family: "Open Sans"
        }
        .bottomright {
            position: absolute;
            bottom: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
    {% endblock %}
</head>

<body class="w3-light-grey">

    <div class="w3-bar w3-black w3-hide-small">
        <a href="{{ path('ah_m2l_accueil') }}" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>Accueil</a>
        <a href="{{ path('ah_m2l_listesalle') }}" class="w3-bar-item w3-button"><i class="fa fa-home w3-margin-right"></i>Les salles</a>
        <a href="{{ path('ah_m2l_listeintervenant') }}" class="w3-bar-item w3-button"><i class="fa fa-male w3-margin-right"></i>les intervenants</a>
        <a href="{{ path('ah_m2l_listeformation') }}" class="w3-bar-item w3-button"><i class="fa fa-briefcase w3-margin-right"></i>Les formations</a>
        <div class="w3-dropdown-hover w3-bar-item w3-button w3-right">
            <i class="fa fa-sign-in"></i>
            <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
                <a href="#" class="w3-bar-item w3-button">Se connecter</a>
                <a href="#" class="w3-bar-item w3-button">S'inscrire</a>
            </div>
        </div>
    </div>


    <div class="w3-content" style="max-width:1600px">
        {% block header %}
            <!-- Header -->
            <header class="w3-container w3-center w3-padding-48 w3-white">
                <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
                <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
            </header>
        {% endblock %}

        <div class="w3-row w3-padding w3-border">
            {% block contenu %} {% endblock %} {% block sidebar %} {% endblock %}
        </div>

    </div>

    <footer class="w3-container w3-dark-grey" style="padding:32px">
        {% block footer %}
        <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a> {% endblock %}
    </footer>

</body>

</html>