{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} Ajouter une formation informatique {% endblock %}


{% block contenu %}
    <h3>{{ block('title') }}</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}