{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} Liste des formations {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
        <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
    </header>
{% endblock %}

{% block contenu %}
    <div class="w3-col l12 s12">

        <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
                <h3>{{ block('title') }}</h3>
            </div>

            <div class="w3-row-padding">

                {% for uneForma in laListe %}
                    {% if uneForma.laFormationSport is not null %}
                        <div class="w3-card w3-col s4">

                            <header class="w3-container w3-blue">
                                <h1>{{ uneForma.laFormationSport.titre }}</h1>
                            </header>

                            <div class="w3-container">
                                <i>{{ uneForma.laFormationSport.objectif }}</i>
                                <p>{{ uneForma.date|date("m/d/Y", false) }} - {{ uneForma.horaire }} -
                                    salle {{ uneForma.laSalle.nomsalle }}</p>
                                <p>Animé par
                                    {% for intervention in uneForma.lesInterventions %}
                                        {{ intervention.leIntervenant.prenom }} {{ intervention.leIntervenant.nom }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </p>
                            </div>


                            <footer class="w3-container w3-blue">
                                <h5>{{ uneForma.nbinscrit }} / {{ uneForma.laFormationSport.nbplace }} places</h5>
                                <div class="w3-right-align"><a
                                            href="{{ path('ah_m2l_voirformation', {'id' : uneForma.idf}) }}">Voir le
                                        programme</a></div>
                            </footer>
                            <br>
                        </div>
                    {% elseif uneForma.laFormationInfo is not null %}
                        <div class="w3-card w3-col s4">

                            <header class="w3-container w3-red">
                                <h1>{{ uneForma.laFormationInfo.titre }}</h1>
                            </header>

                            <div class="w3-container">
                                <i>{{ uneForma.laFormationInfo.objectif }}</i>
                                <p>{{ uneForma.date|date("m/d/Y", false) }} - {{ uneForma.horaire }} -
                                    salle {{ uneForma.laSalle.nomsalle }}</p>
                                <p>Animé par
                                    {% for intervention in uneForma.lesInterventions %}
                                        {{ intervention.leIntervenant.prenom }} {{ intervention.leIntervenant.nom }}
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                            </div>

                            <footer class="w3-container w3-red">
                                <h5>{{ uneForma.nbinscrit }} / {{ uneForma.laFormationInfo.nbplace }} places</h5>
                                <div class="w3-right-align"><a
                                            href="{{ path('ah_m2l_voirformation', {'id' : uneForma.idf}) }}">Voir le
                                        programme</a></div>
                            </footer>
                            <br>
                        </div>
                    {% else %}
                        idk lol
                    {% endif %}


                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}