{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} formation sportive: {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
        <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
    </header>
{% endblock %}

{% block contenu %}
    <div class="w3-row">
        <div class="w3-col s12 w3-center">
            <table class="w3-table">
                <tr>
                    <th class="w3-right-align">Nom de la formation</th>
                    <td>{{ laFormation.laFormationSport.titre }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Objectif de la formation</th>
                    <td>{{ laFormation.laFormationSport.objectif }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Nombre d'inscrits</th>
                    <td>{{ laFormation.nbInscrit }} / {{ laFormation.laFormationSport.nbplace }} place(s)</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Date</th>
                    <td>{{ laFormation.date|date("d/m/Y", false) }} - {{ laFormation.horaire }} </td>
                </tr>
                <tr>
                    <th class="w3-right-align">Lieu</th>
                    <td>salle {{ laFormation.laSalle.nomsalle }}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}