{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} formation informatique: {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
        <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
    </header>
{% endblock %}

{% block contenu %}
    <div class="w3-row">
        <div class="w3-col s12 w3-center">
            <table class="w3-table">
                <tr>
                    <th class="w3-right-align">Date</th>
                    <td>{{ laFormation.date|date("d/m/Y", false) }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Horaire</th>
                    <td>{{ laFormation.horaire }} </td>
                </tr>
                <tr>
                    <th class="w3-right-align">Lieu</th>
                    <td>salle {{ laFormation.laSalle.nomsalle }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Intervenant</th>
                    <td>{% for intervention in laFormation.lesInterventions %}
                            {{ intervention.leIntervenant.prenom }} {{ intervention.leIntervenant.nom }}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Public</th>
                    <td>{{ laFormation.laFormationInfo.public }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Objectifs</th>
                    <td>{{ laFormation.laFormationInfo.objectif }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Prérequis</th>
                    <td>{{ laFormation.laFormationInfo.prerequis }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Contenu</th>
                    <td>
                        <ol class="w3-border">
                            {% for unC in leContenu %}
                                <li><strong>
                                       {{ unC.leTheme.libellet }}</strong>
                                </li>
                                <ul class="w3-ul">
                                    {% for unD in unC.lesDetails %}
                                        <li>
                                            <small>-</small> {{ unD.leDetail.libelleD }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ol>

                    </td>
                </tr>
                <tr>
                    <th class="w3-right-align">Cout</th>
                    <td>{{ laFormation.cout }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Repas</th>
                    <td>{{ laFormation.repas }}</td>
                </tr>
                <tr>
                    <th class="w3-right-align">Date Limite</th>
                    <td>{{ laFormation.dateLimite|date("d/m/Y", false) }}</td>
                </tr>

            </table>
        </div>
    </div>

{% endblock %}