{% extends 'AHM2LBundle::layout.html.twig' %}

{% block contenu %}
    <div class="w3-col l8 s12">

        <div class="w3-container w3-white w3-margin w3-padding-large">
            <h1>Liste des themes</h1>
            <input class="w3-input w3-border w3-padding" type="text" placeholder="recherche..." id="searchInput"
                   onkeyup="recherche()">
            <table class="w3-table w3-striped w3-bordered" id="contentTable">
                <thead>

                <tr>
                    <td colspan="3"><a href="{{ path('theme_new') }}" class="w3-button w3-block w3-teal">Créer un nouveau thème</a>
                    </td>
                </tr>
                <tr class="w3-red">
                    <th style="width: 10%;">ID</th>
                    <th>Libelle</th>
                    <th style="width: 20%;"></th>
                </tr>
                </thead>
                <tbody>
                {% for theme in themes %}
                    <tr>
                        <td><a href="{{ path('theme_show', { 'idt': theme.idt }) }}">{{ theme.idt }}</a></td>
                        <td>{{ theme.libellet }}</td>
                        <td>

                            <a href="{{ path('theme_show', { 'idt': theme.idt }) }}"><i class="w3-xxlarge fa fa-eye"
                                                                                        aria-hidden="true"></i></a>

                            <a href="{{ path('theme_edit', { 'idt': theme.idt }) }}"> <i
                                        class="w3-xxlarge fa fa-pencil"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"><a href="{{ path('theme_new') }}" class="w3-button w3-block w3-teal">Créer un nouveau thème</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script>
        function recherche() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("contentTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
