{% extends 'AHM2LBundle::layout.html.twig' %}
    {% form_theme form 'AHM2LBundle:Theme/form:fields.html.twig' %}

{% block contenu %}
    <h1>Theme creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('theme_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
