{% extends 'AHM2LBundle::layout.html.twig' %}

{% block contenu %}
    <h1>Theme</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.idt }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ theme.libellet }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('theme_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('theme_edit', { 'idt': theme.idt }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
