{% extends "AHM2LBundle::layout.html.twig" %} {% block title %} Accueil {% endblock %} {% block header %}
<!-- Header -->
<header class="w3-container w3-center w3-padding-48 w3-white">
    <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
    <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
</header>
{% endblock %} {% block contenu %}
<div class="w3-col l8 s12">

    <div class="w3-container w3-white w3-margin w3-padding-large">
        <div class="w3-center">
            <h3>ACCUEIL</h3>
        </div>

        <div class="w3-justify">
            <p><strong>La maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux différentes ligues sportives régionales et à d'autres structures hébergées.</strong> </p>
            <p>La M2L est un structure financée par le Conseil Rgionl de Lorraine dont l'administration est délégués au Comité Régional Olympique et Sportif de Lorraine (CROSL)</p>

            </p>
            <p class="w3-clear"></p>

        </div>
    </div>

</div>
{% endblock %} {% block sidebar %}
<div class="w3-col l4">
    <div class="w3-white w3-margin">
        <img src="https://romguillon4.files.wordpress.com/2013/09/mdl.png" alt="Jane" style="width:100%">
        <div class="w3-container w3-black">
            <h4>Remarque</h4>
            <p>Le CROSL offre un catalogue diversifié de formations aux bénévoles des clubs affiliés au ligues (législtion, éthique, comptabilité associative, etc.). <br/><br/> Les ligues organisent également des formations, en général plus techniques, sur
                l'usage de logiciels spécifiques de gestion des clubs ou des compétitions sportives.</p>
        </div>
    </div>
    <hr>

</div>
{% endblock %}