{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} Liste des intervenants {% endblock %}

{% block header %}
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Maison des ligues de Lorraine</b></h1>
        <h6>Bienvenue sur le site de la <span class="w3-tag">M2L</span></h6>
    </header>
{% endblock %}

{% block contenu %}
    <div class="w3-col l8 s12">

        <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
                <h3>{{  block('title') }}</h3>
            </div>

            <div class="w3-row">
            </div>
            {% for unI in laListe %}
                <div class="w3-col s3 w3-center">

                <div class="w3-card-4" style="width:92%;max-width:300px;">
                    <img src="    {{ asset('bundles/AHM2L/img/nophoto.png') }}" alt="Avatar"
                         style="width:92%;opacity:0.85">
                    <div class="w3-container">
                        <h4><b>{{ unI.nom }}</b></h4>
                        <p>{{ unI.prenom }}</p>
                    </div>
                </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}