{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} Liste des salles {% endblock %}

{% block contenu %}
    <div class="w3-col l8 s12">

        <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
                <h3>{{ block('title') }}</h3>
            </div>

            <ul class="w3-ul w3-hoverable">
                {% for uneSalle in laListe %}
                    <li>{{ uneSalle.nomsalle }} ({{ uneSalle.nbForma }} formations)</li>
                {% endfor %}
                <li><a href="{{ path('ah_m2l_ajoutsalle') }}" class="w3-button w3-block w3-teal">+ Ajouter une salle</a></li>
            </ul>
        </div>

    </div>
{% endblock %}