{% extends "AHM2LBundle::layout.html.twig" %}

{% block title %} {{ laSalle.nomsalle }} {% endblock %}


{% block contenu %}
        <div class="w3-container w3-white w3-margin w3-padding-large">
                <div class="w3-center">
                    <div class="w3-col l8 s12">
                        {% for message in app.session.flashbag.get('info') %}
                            <div class="w3-panel w3-green">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                <h3 class="w3-tag"> {{ laSalle.nomsalle }} </h3>
                <h4> {{ laSalle.adressesalle }}</h4>
            </div>

        </div>

    </div>
{% endblock %}